.overlay-graph {
    position: fixed;
    inset: 0px;
    background-color: rgb(16 14 14 / 0%);
    z-index: 20;
    pointer-events: none;
}

div {
    color: white;
}

.content {
    bottom: 0px;
    position: fixed;
    width: calc(100vw - 161px);
    left: 161px;
}

.modal-close-icon {
    pointer-events: all;
}

.chart {
    width: 30%;
    float: inline-start;
    margin-left: 10px;
}