.overlay {
    position: fixed;
    inset: 0px;
    background-color: rgb(16 14 14 / 85%);
    z-index: 22;
}

div {
    color: white;
}

.content-about {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 118px;
    margin: auto;
    margin-left: 150px;
    border: 2px solid #1a1a1a;
}

.develeped-by {
    margin: 29px;
    font-size: 17px;
    font-family: monospace;
}

.name {
    margin: 29px;
    margin-left: 90px;
    font-size: 26px;
    font-family: monospace;
}

.about-desc {
    text-align: center;
    font-size: large;
}


.icons-container {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.svg-inline--fa {
    margin: 10px;
    cursor: pointer;
}

a {
    color: white;
}