.overlay {
    position: fixed;
    inset: 0px;
    background-color: rgb(16 14 14 / 85%);
    z-index: 22;
}

.modal-actions {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.language-label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.language-select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.language-select option {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.flag-icon {
  margin-right: 8px;
  font-size: 1.2em;
  color: #555;
}

.language-select:focus {
  outline: none;
  border-color: #007bff;
}

.language-select option:hover {
  background-color: #f1f1f1;
}
