.overlay {
    position: fixed;
    inset: 0px;
    background-color: rgb(16 14 14 / 85%);
    z-index: 22;
}

div {
    color: white;
}

.modal-content-extra {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
}

.vertex-select {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background: #444;
  color: white;
  border: 1px solid #666;
  border-radius: 4px;
}

.modal-actions {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}